header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100vh;
    background: linear-gradient(to bottom, #fad7a1, #e96d71);
    text-align: center;
    text-transform: uppercase;
}
